# Dart & Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/*.xcuserstate

# Android
android/.gradle/
android/.idea/
android/local.properties
android/**/build/
android/**/captures/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/DerivedData/
macos/*.xcuserstate

# Windows
windows/Flutter/ephemeral/
windows/**/build/

# Linux
linux/Flutter/ephemeral/
linux/**/build/

# Web
web/.dart_tool/

# VSCode
.vscode/

# IntelliJ
.idea/
*.iml

# System
.DS_Store
*.swp
*.lock
*.log

# Optional: ignore lock file if you're building a library
# pubspec.lock

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
